# Introduction to data manipulation with pandas

# 1. What is Pandas ?

- a powerful data analysis and manipulation library for Python
- a Python package providing fast, flexible, and expressive data structures designed to make working 
  with "relational" or "labeled" data both easy and intuitive.


Aim :  
- to be the fundamental high-level building block for doing practical, **real world** data analysis in Python. - - - to become **the most powerful and flexible open source data analysis / manipulation tool available in any language**.


It is already well on its way toward this goal.

# 2. Main features

 

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

# 3. Installing and Importing Pandas

- Details on pandas installation can be found in the Pandas documentation(https://pandas.pydata.org/).  
- For Anaconda stack users,Pandas is already installed. Once Pandas is installed, it can be imported and its version checked using these commands:

In [ ]:
import pandas
pandas.__version__

Just as we generally import NumPy under the alias np, we will import Pandas under the alias pd. This import convention will be used throughout the remainder of this course.

In [ ]:
import pandas as pd

To more explore the Pandas's built-in documentation and other relevant information, you can display it using this:

In [ ]:
 #pd?

# I. Introducing Pandas Objects

 The 3 fundamental Pandas data structures: 
 
        - the Series, 
        - DataFrame, 
        - and Index

Let us start first this section with the standard **NumPy** and **Pandas** imports

In [ ]:
import numpy as np
import pandas as pd

## I.1 The Pandas Series Object

A Pandas Series is a one-dimensional array of indexed data. It can be created from a list or array as follows:

In [ ]:
ds = pd.Series([0.2, 0.35, 0.85, 1.0])
ds

As you can see in the output, the Series wraps both a sequence of values and a sequence of indices, which we can access with the values and index attributes. To get the values, we can use

In [ ]:
ds.values

These values are simply a familiar NumPy array. For indexes we can use: The index is an array-like object of type pd.Index, which we'll discuss in more detail momentarily.

In [ ]:
ds.index

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [ ]:
ds[2]

In [ ]:
ds[1:4]

 ## I.1.1 `Series` as generalized NumPy array
 
 However, the Pandas `Series` is much more general and flexible than the one-dimensional NumPy array. 
The essential difference is the presence of the index:

while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.

This explicit index definition gives the Series object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type. For example, if we wish, we can use strings as an index:

In [ ]:
ds = pd.Series([0.2, 0.35, 0.85, 1.0], index=['a','b','c','d'])
ds

And the item access works as expected:

In [ ]:
ds['c']

We can even use non-contiguous or non-sequential indices:

In [ ]:
ds = pd.Series([0.2, 0.35, 0.85, 1.0], index=[5,45,2,100])
ds

In [ ]:
ds[2]

## I.1.2 `Series` as specialized dictionary.
This  can be made even more clear by constructing a `Series` object directly from a Python dictionary:

In [ ]:
population_dict = {'Montpellier': 290053,
                   'Paris': 2175601,
                   'Troyes': 61996,
                   'Marseille': 868277,
                   'Lyon': 518635}
population = pd.Series(population_dict)
population

From here, typical dictionary-style item access can be performed:

In [ ]:
population['Montpellier']

Unlike a dictionary, though, the `Series` also supports array-style operations such as slicing:

In [ ]:
population['Montpellier':'Troyes']

## I.1.3 Constructing `Series` objects

We've already seen a few ways of constructing a Pandas `Series` from scratch; all of them are some version of the following:

>>> pd.Series(data, index=index)

where **index** is an optional argument, and data can be one of many entities.

For example, data can be a list or NumPy array, in which case index defaults to an integer sequence:

In [ ]:
pd.Series([5, 10, 27, 14])

Data can be a scalar, which is repeated to fill the specified index:

In [ ]:
pd.Series(7, index=[111, 222, 333])

Data can be a dictionary, in which index defaults to the sorted dictionary keys:

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'})

In each case, the index can be explicitly set if a different result is preferred:

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

# I.2 The Pandas `DataFrame` Object

The next fundamental structure in Pandas is the `DataFrame`. Like the Series object discussed in the previous section, the `DataFrame` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary. We'll now take a look at each of these perspectives.

## I.2.1 `DataFrame` as a generalized NumPy array

If a `Series` is an analog of a **one-dimensional array with flexible indices**, a `DataFrame` is an analog of a **two-dimensional array with both flexible row indices and flexible column names**. Just as you might think of a two-dimensional array as an **ordered sequence of aligned one-dimensional columns**, you can think of a DataFrame as a **sequence of aligned `Series` objects**. Here, by "aligned" we mean that they share the same index.

To demonstrate this, let's first construct a new `Series` listing the area of each of the five cities discussed in the previous section:

In [ ]:
area_dict = {'Montpellier': 56.9,
                   'Paris': 105.4,
                   'Troyes': 13.2,
                   'Marseille': 240.6,
                   'Lyon': 47.9}
area = pd.Series(area_dict)
area

Now that we have this along with the population Series from before, we can use a dictionary to construct a single two-dimensional object containing this information:

In [ ]:
cities = pd.DataFrame({'population': population,
                       'area': area})
cities

Like the `Series` object, the `DataFrame` has an index attribute that gives access to the index labels:

In [ ]:
cities.index

Additionally, the `DataFrame` has a columns attribute, which is an Index object holding the column labels:

In [ ]:
cities.columns

Thus the `DataFrame` can be thought of as a **generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data**.

## I.2.2 `DataFrame` as specialized dictionary

Similarly, we can also think of a `DataFrame` as a specialization of a dictionary. Where a dictionary maps a key to a value, a `DataFrame` maps a column name to a `Series` of column data. For example, asking for the 'area' attribute returns the `Series` object containing the areas we saw earlier.

In [ ]:
cities['area']

In [ ]:
cities['population']

Notice the potential point of confusion here: in a two-dimesnional NumPy array, **data[0]** will return the first row. For a `DataFrame`, **data['col0']** will return the first column. Because of this, it is probably better to think about `DataFrame`s as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.

## I.2.3 Constructing ``DataFrame` objects

A Pandas `DataFrame` can be constructed in a variety of ways. Here we'll give several examples.

### I.2.3.1 From a single `Series` object

A `DataFrame` is a collection of `Series` objects, and a single-column `DataFrame` can be constructed from a single `Series`:

In [ ]:
pd.DataFrame(population, columns=['population'])

### I.2.3.2 From a list of dictionnaries¶

Any list of dictionaries can be made into a `DataFrame`. We'll use a simple list comprehension to create some data:

In [ ]:
df = [{'square': i*i, 'double': 2 * i}
        for i in range(6)]
pd.DataFrame(df)

Even if some keys in the dictionary are missing, Pandas will fill them in with **NaN** (i.e., "not a number") values:

In [ ]:
pd.DataFrame([{'column1': 15, 'column2': 40}, {'column2': 53, 'column3': 77}])


### I.2.3.3 From a dictionary of `Series` objects



As we saw before, a `DataFrame` can be constructed from a dictionary of Series objects as well:

In [ ]:
pd.DataFrame({'population': population,
              'area': area})


### I.2.3.4 From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a `DataFrame` with any specified column and index names. If omitted, an integer index will be used for each:

In [ ]:
pd.DataFrame(np.random.rand(5, 3),
             columns=['col1', 'col2', 'col3'],
             index=['row1', 'row2', 'row3', 'row4', 'row5'])


### I.2.3.5 From a NumPy structured array


We covered structured arrays in Structured Data: NumPy's Structured Arrays. A Pandas `DataFrame` operates much like a structured array, and can be created directly from one:

In [ ]:
TAB = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
TAB

In [ ]:
pd.DataFrame(TAB)

# I.3 The Pandas `Index` Object

We have seen here that both the `Series` and `DataFrame` objects contain an explicit `index` that lets you reference and modify data. This `Index` object is an interesting structure in itself, and it can be thought of either as an immutable array or as an ordered set (technically a multi-set, as Index objects may contain repeated values). Those views have some interesting consequences in the operations available on `Index` objects. As a simple example, let's construct an ``Index` from a list of integers:

In [ ]:
ind = pd.Index([8,14, 15, 18, 20])
ind


## I.3.1 `Index` as immutable array

The `Index` in many ways operates like an array. For example, we can use standard Python indexing notation to retrieve values or slices:

In [ ]:
ind[3]

In [ ]:
ind[::2]

Index objects also have many of the attributes familiar from NumPy arrays:

In [ ]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

One difference between Index objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via the normal means:

In [ ]:
ind[1] = 0

This immutability makes it safer to share indices between multiple DataFrames and arrays, without the potential for side effects from inadvertent index modification.


## I.3.2 Index as ordered set

Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects of set arithmetic. The Index object follows many of the conventions used by Python's built-in set data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

## Intersection of indices

In [ ]:
indA & indB 
indA.intersection(indB) #also possible

## Union

In [ ]:
indA | indB
indA.union(indB) #also possible

## Symmetric difference

In [ ]:
indA ^ indB
#indA.difference(indB)

# II. Data Indexing and Selection

We'll start with the simple case of the one-dimensional Series object, and then move on to the more complicated two-dimesnional DataFrame object.

## I.1 Data Selection in Series

As we saw in the previous section, a Series object acts in many ways like a one-dimensional NumPy array, and in many ways like a standard Python dictionary. If we keep these two overlapping analogies in mind, it will help us to understand the patterns of data indexing and selection in these arrays.


### Series as dictionary

Like a dictionary, the Series object provides a mapping from a collection of keys to a collection of values:

In [ ]:
import pandas as pd
ds = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
ds

In [ ]:
ds['b']

We can also use dictionary-like Python expressions and methods to examine the keys/indices and values:

In [ ]:
'a' in ds

In [ ]:
ds.keys()

In [ ]:
list(ds.items())

Series objects can even be modified with a dictionary-like syntax. Just as you can extend a dictionary by assigning to a new key, you can extend a Series by assigning to a new index value:

In [ ]:
ds['e'] = 1.25
ds



This easy mutability of the objects is a convenient feature: under the hood, Pandas is making decisions about memory layout and data copying that might need to take place; the user generally does not need to worry about these issues.


# Series as one-dimensional array


A Series builds on this dictionary-like interface and provides array-style item selection via the same basic mechanisms as NumPy arrays – that is, slices, masking, and fancy indexing. Examples of these are as follows:



# slicing by explicit index

In [ ]:
ds['a':'c']



# slicing by implicit integer index

In [ ]:
ds[0:2]

# masking

In [ ]:
ds[(ds > 0.3) & (ds < 0.8)]

# fancy indexing

In [ ]:
ds[['a', 'e']]

Among these, slicing may be the source of the most confusion. Notice that when slicing with an explicit index (i.e., `ds['a':'c']`), the final index is included in the slice, while when slicing with an implicit index (i.e., `ds[0:2]`), the final index is excluded from the slice.

# Indexers: `loc` and `iloc`

These slicing and indexing conventions can be a source of confusion. For example, if your `Series` has an explicit integer index, an indexing operation such as `ds[1]` will use the explicit indices, while a slicing operation like `ds[1:3]` will use the implicit Python-style index.

In [ ]:
ds = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
ds

## explicit index when indexing

In [ ]:
ds[1]

## implicit index when slicing

In [ ]:
ds[1:3]

Because of this potential confusion in the case of integer indexes, Pandas provides some special indexer attributes that explicitly expose certain indexing schemes. These are not functional methods, but attributes that expose a particular slicing interface to the data in the Series.

First, the loc attribute allows indexing and slicing that always references the explicit index:

In [ ]:
ds.loc[1]

In [ ]:
ds.loc[1:3]

The `iloc` attribute allows indexing and slicing that always references the implicit Python-style index:

In [ ]:
ds.iloc[1]

In [ ]:
ds.iloc[1:3]



One guiding principle of Python code is that "explicit is better than implicit." The explicit nature of loc and iloc make them very useful in maintaining clean and readable code; especially in the case of integer indexes, I recommend using these both to make code easier to read and understand, and to prevent subtle bugs due to the mixed indexing/slicing convention.

# II.2 Data Selection in DataFrame

## DataFrame as a dictionary¶

The first analogy we will consider is the `DataFrame` as a dictionary of related `Series` objects. Let's return to our example of areas and populations of states:

In [ ]:
area = {'Montpellier': 56.9,
                   'Paris': 105.4,
                   'Troyes': 13.2,
                   'Marseille': 240.6,
                   'Lyon': 47.9}

population = {'Montpellier': 290053,
                   'Paris': 2175601,
                   'Troyes': 61996,
                   'Marseille': 868277,
                   'Lyon': 518635}
cities_data = pd.DataFrame({'population': population,
              'area': area})
cities_data

The individual Series that make up the columns of the DataFrame can be accessed via dictionary-style indexing of the column name:

In [ ]:
cities_data['area']

Equivalently, we can use attribute-style access with column names that are strings:

In [ ]:
cities_data.area

This attribute-style column access actually accesses the exact same object as the dictionary-style access:

In [ ]:
cities_data.area is cities_data['area']

Though this is a useful shorthand, keep in mind that it does not work for all cases! For example, if the column names are not strings, or if the column names conflict with methods of the `DataFrame`, this attribute-style access is not possible. For example, the `DataFrame` has a `population()` method, so `data.pop` will point to this rather than the "population" column:

In [ ]:
cities_data.population is cities_data['population']



In particular, you should avoid the temptation to try column assignment via attribute (i.e., use `cities_data['population'] = z` rather than `cities_data.population = z`).

Like with the `Series` objects discussed earlier, this dictionary-style syntax can also be used to modify the object, in this case adding a new column:

In [ ]:
cities_data['density'] = cities_data['population'] / cities_data['area']
cities_data

This shows a preview of the straightforward syntax of element-by-element arithmetic between Series objects


## DataFrame as two-dimensional array

As mentioned previously, we can also view the `DataFrame` as an enhanced two-dimensional array. We can examine the raw underlying data array using the `values` attribute:

In [ ]:
cities_data.values

With this picture in mind, many familiar array-like observations can be done on the `DataFrame` itself. For example, we can transpose the full `DataFrame` to swap rows and columns:

In [ ]:
cities_data.T

When it comes to indexing of `DataFrame` objects, however, it is clear that the dictionary-style indexing of columns precludes our ability to simply treat it as a NumPy array. In particular, passing a single index to an array accesses a row:

In [ ]:
cities_data.values[0]

and passing a single "index" to a `DataFrame` accesses a column:

In [ ]:
cities_data['area']

Thus for array-style indexing, we need another convention. Here Pandas again uses the `loc` and `iloc` mentioned earlier. Using the `iloc` indexer, we can index the underlying array as if it is a simple NumPy array (using the implicit Python-style index), but the `DataFrame` index and column labels are maintained in the result

In [ ]:
cities_data.iloc[:3, :2]

Similarly, using the `loc` indexer we can index the underlying data in an array-like style but using the explicit index and column names:

In [ ]:
cities_data.loc[:'Troyes', :'population']

Keep in mind that for integer indices, the `ix` indexer is subject to the same potential sources of confusion as discussed for integer-indexed `Series` objects.

Any of the familiar NumPy-style data access patterns can be used within these indexers. For example, in the `loc` indexer we can combine masking and fancy indexing as in the following

In [ ]:
cities_data.loc[cities_data.density > 5000, ['population', 'density']]

Any of these indexing conventions may also be used to set or modify values; this is done in the standard way that you might be accustomed to from working with NumPy:

In [ ]:
cities_data.iloc[0, 2] = 10000
cities_data

To build up your fluency in Pandas data manipulation, I suggest spending some time with a simple `DataFrame` and exploring the types of indexing, slicing, masking, and fancy indexing that are allowed by these various indexing approaches.


## Additional indexing conventions

There are a couple extra indexing conventions that might seem at odds with the preceding discussion, but nevertheless can be very useful in practice. First, while `indexing` refers to columns, `slicing` refers to rows:

In [ ]:
cities_data['Paris':'Troyes']

Such slices can also refer to rows by number rather than by index:

In [ ]:
cities_data[1:3]

Similarly, direct masking operations are also interpreted row-wise rather than column-wise:

In [ ]:
cities_data[cities_data.density > 5000]



These two conventions are syntactically similar to those on a NumPy array, and while these may not precisely fit the mold of the Pandas conventions, they are nevertheless quite useful in practice.

In [ ]:


import pandas as pd
import numpy as np

In [ ]:


rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

In [ ]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object with the indices preserved:

In [ ]:
np.exp(ser)

Or, for a slightly more complex calculation:

In [ ]:
np.sin(df * np.pi / 4)

Any of the ufuncs can be used in a similar manner:
    
    
Operator 	Equivalent ufunc 	Description
 + 	        np.add 	            Addition (e.g., 1 + 1 = 2)

 - 	        np.subtract 	    Subtraction (e.g., 3 - 2 = 1)*
 - 	        np.negative 	    Unary negation (e.g., -2)
 * 	        np.multiply 	    Multiplication (e.g., 2 * 3 = 6)
 / 	        np.divide 	        Division (e.g., 3 / 2 = 1.5)
 // 	    np.floor_divide 	Floor division (e.g., 3 // 2 = 1)
 ** 	    np.power 	        Exponentiation (e.g., 2 ** 3 = 8)
 % 	        np.mod 	            Modulus/remainder (e.g., 9 % 4 = 1)
 ...

# III. Operating on Data in Pandas


# UFuncs: Index Alignment

For binary operations on two Series or DataFrame objects, Pandas will align indices in the process of performing the operation. This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

## Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three French cities by population and the top three French cities by area:

In [ ]:
population = pd.Series({'Paris': 2175601,
                        'Marseille': 868277,
                        'Lyon': 518635}, name='population')
area = pd.Series({'Marseille': 240.6,
                   'Paris': 105.4,
                   'Montpellier': 56.9}, name='area')

Let's see what happens when we divide these to compute the population density:

In [ ]:
population / area

The resulting array contains the union of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [ ]:
area.index | population.index

Any item for which one or the other does not have an entry is marked with `NaN`, or "Not a Number," which is how Pandas marks missing data. This index matching is implemented this way for any of Python's built-in arithmetic expressions; any missing values are filled in with `NaN` by default:

In [ ]:
ds_A = pd.Series([2, 4, 6], index=[0, 1, 2])
ds_B = pd.Series([1, 3, 5], index=[1, 2, 3])
ds_A + ds_B

If using `NaN` values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators. For example, calling `ds_A.add(ds_B)` is equivalent to calling `ds_A + ds_B`, but allows optional explicit specification of the fill value for any elements in `ds_A` or `ds_B` that might be missing:

In [ ]:
ds_A.add(ds_B, fill_value=0)


## Index alignment in DataFrame

A similar type of alignment takes place for both columns and indices when performing operations on `DataFrame`s:

In [ ]:
df_A = pd.DataFrame(rng.randint(0, 5, (2, 2)),
                 columns=list('XY'))
df_A

In [ ]:
df_B = pd.DataFrame(rng.randint(0, 15, (3, 3)),
                 columns=list('YXZ'))
df_B

In [ ]:
df_A+df_B

Notice that indices are aligned correctly irrespective of their order in the two objects, and indices in the result are sorted. As was the case with `Series`, we can use the associated object's arithmetic method and pass any desired `fill_value` to be used in place of missing entries. Here we'll fill with the mean of all values in `df_A` (computed by first stacking the rows of `df_A`):

In [ ]:
fill = df_A.stack().mean()
df_A.add(df_B, fill_value=fill)

The following table lists Python operators and their equivalent Pandas object methods:

Python Operator 	Pandas Method(s)
    + 	             add()
    - 	             sub(), subtract()
    * 	             mul(), multiply()
    / 	             truediv(), div(), divide()
    // 	             floordiv()
    % 	             mod()
    ** 	             pow()

# Ufuncs: Operations Between DataFrame and Series

When performing operations between a `DataFrame` and a `Series`, the index and column alignment is similarly maintained. Operations between a `DataFrame` and a `Series` are similar to operations between a two-dimensional and one-dimensional NumPy array. Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

In [ ]:
A = rng.randint(10, size=(3, 4))
A

In [ ]:
A - A[0]

According to NumPy's broadcasting rules (see Computation on Arrays: Broadcasting), subtraction between a two-dimensional array and one of its rows is applied row-wise.

In Pandas, the convention similarly operates row-wise by default:

In [ ]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]

If you would instead like to operate column-wise, you can use the object methods mentioned earlier, while specifying the axis keyword:

In [ ]:
df.subtract(df['R'], axis=0)

Note that these DataFrame/Series operations, like the operations discussed above, will automatically align indices between the two elements:

In [ ]:
halfrow = df.iloc[0, ::2]
halfrow

In [ ]:
df - halfrow

This preservation and alignment of indices and columns means that operations on data in Pandas will always maintain the data context, which prevents the types of silly errors that might come up when working with heterogeneous and/or misaligned data in raw NumPy arrays.

# IV. Missing Data in Pandas¶

Pandas chose to use sentinels for missing data, and further chose to use two already-existing Python null values: the special floating-point `NaN` value, and the Python `None` object. This choice has some side effects, as we will see, but in practice ends up being a good compromise in most cases of interest.

## `None`: Pythonic missing data

The first sentinel value used by Pandas is `None`, a Python singleton object that is often used for missing data in Python code. Because it is a Python object, `None` cannot be used in any arbitrary NumPy/Pandas array, but only in arrays with data type `'object'` (i.e., arrays of Python objects):

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
vals1 = np.array([1, None, 3, 4])
vals1

This `dtype=object` means that the best common type representation NumPy could infer for the contents of the array is that they are Python objects. While this kind of object array is useful for some purposes, any operations on the data will be done at the Python level, with much more overhead than the typically fast operations seen for arrays with native types:

In [ ]:
for dtype in ['object', 'int']:
    print("dtype =", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

The use of Python objects in an array also means that if you perform aggregations like `sum()` or `min()` across an array with a `None` value, you will generally get an error:

In [ ]:
vals1.sum()

This reflects the fact that addition between an integer and `None` is undefined.

## `NaN`: Missing numerical data

The other missing data representation, `NaN` (acronym for Not a Number), is different; it is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation:

In [ ]:
vals2 = np.array([1, np.nan, 3, 4]) 
vals2.dtype

Notice that NumPy chose a native floating-point type for this array: this means that unlike the object array from before, this array supports fast operations pushed into compiled code. You should be aware that `NaN` is a bit like a data virus–it infects any other object it touches. Regardless of the operation, the result of arithmetic with `NaN` will be another `NaN`:

In [ ]:
1 + np.nan

In [ ]:
0 *  np.nan

Note that this means that aggregates over the values are well defined (i.e., they don't result in an error) but not always useful:

In [ ]:
vals2.sum(), vals2.min(), vals2.max()

NumPy does provide some special aggregations that will ignore these missing values:

In [ ]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2), np.nanmean(vals2)

Keep in mind that `NaN` is specifically a floating-point value; there is no equivalent `NaN` value for integers, strings, or other types.

## `NaN` and `None` in Pandas

`NaN` and `None` both have their place, and Pandas is built to handle the two of them nearly interchangeably, converting between them where appropriate:

In [ ]:
pd.Series([1, np.nan, 2, None])

For types that don't have an available sentinel value, Pandas automatically type-casts when NA values are present. For example, if we set a value in an integer array to `np.nan`, it will automatically be upcast to a floating-point type to accommodate the NA:

In [ ]:
x = pd.Series(range(2), dtype=int)
x

In [ ]:
x[0] = None
x

Notice that in addition to casting the integer array to floating point, Pandas automatically converts the `None` to a `NaN` value

The following table lists the upcasting conventions in Pandas when NA values are introduced:

Typeclass 	Conversion When Storing NAs 	NA Sentinel Value
floating 	   No change 	                   np.nan
object 	       No change 	                   None or np.nan
integer 	   Cast to float64 	               np.nan
boolean 	   Cast to object 	               None or np.nan

Keep in mind that in Pandas, string data is always stored with an `object` dtype.


# Operating on Null Values¶

As we have seen, Pandas treats `None` and `NaN` as essentially interchangeable for indicating missing or null values. To facilitate this convention, there are several useful methods for detecting, removing, and replacing null values in Pandas data structures. They are:

 - `isnull()`: Generate a boolean mask indicating missing values
 - `notnull()`: Opposite of isnull()
 - `dropna()`: Return a filtered version of the data
 -`fillna()`: Return a copy of the data with missing values filled or imputed

We will conclude this section with a brief exploration and demonstration of these routines.

## Detecting null values¶

Pandas data structures have two useful methods for detecting null data: `isnull()` and `notnull()`. Either one will return a Boolean mask over the data. For example:

In [ ]:
data = pd.Series([1, np.nan, 'hello', None])

In [ ]:
data.isnull()

Boolean masks can be used directly as a `Series` or `DataFrame` index:

In [ ]:
data[data.notnull()]

The `isnull()` and `notnull()` methods produce similar Boolean results for `DataFrame`s.


## Dropping null values

In addition to the masking used before, there are the convenience methods, `dropna()` (which removes NA values) and `fillna()` (which fills in NA values). For a `Series`, the result is straightforward:

In [ ]:
data.dropna()

For a `DataFrame`, there are more options. Consider the following `DataFrame`:

In [ ]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df



We cannot drop single values from a `DataFrame`; we can only drop full rows or full columns. Depending on the application, you might want one or the other, so `dropna()` gives a number of options for a `DataFrame`.

By default, `dropna()` will drop all rows in which any null value is present:

In [ ]:
df.dropna()

Alternatively, you can drop NA values along a different axis; `axis=1` drops all columns containing a null value

In [ ]:
df.dropna(axis='columns')

But this drops some good data as well; you might rather be interested in dropping rows or columns with *all* NA values, or a majority of NA values. This can be specified through the `how` or `thresh` parameters, which allow fine control of the number of nulls to allow through.

The default is `how='any'`, such that any row or column (depending on the axis keyword) containing a null value will be dropped. You can also specify `how='all'`, which will only drop rows/columns that are *all* null values:

In [ ]:
df[3] = np.nan
df

In [ ]:
df.dropna(axis='columns', how='all')

For finer-grained control, the `thresh` parameter lets you specify a minimum number of non-null values for the row/column to be kept:

In [ ]:
df.dropna(axis='rows', thresh=3)

Here the first and last row have been dropped, because they contain only two non-null values.


## Filling null values

Sometimes rather than dropping NA values, you'd rather replace them with a valid value. This value might be a single number like zero, or it might be some sort of imputation or interpolation from the good values. You could do this in-place using the `isnull()` method as a mask, but because it is such a common operation Pandas provides the `fillna()` method, which returns a copy of the array with the null values replaced.

Consider the following `Series`:

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

We can fill NA entries with a single value, such as zero:

In [ ]:
data.fillna(0)

We can specify a forward-fill to propagate the previous value forward:

In [ ]:
# forward-fill
data.fillna(method='ffill')

Or we can specify a back-fill to propagate the next values backward:

In [ ]:
# back-fill
data.fillna(method='bfill')

For `DataFrame`s, the options are similar, but we can also specify an axis along which the fills take place:

In [ ]:
df

In [ ]:
df.fillna(method='ffill', axis=1)

Notice that if a previous value is not available during a forward fill, the NA value remains.


# V. Hierarchical Indexing


Up to this point we've been focused primarily on one-dimensional and two-dimensional data, stored in Pandas Series and DataFrame objects, respectively. Often it is useful to go beyond this and store higher-dimensional data–that is, data indexed by more than one or two keys. While Pandas does provide Panel and Panel4D objects that natively handle three-dimensional and four-dimensional data (see Aside: Panel Data), a far more common pattern in practice is to make use of hierarchical indexing (also known as multi-indexing) to incorporate multiple index levels within a single index. In this way, higher-dimensional data can be compactly represented within the familiar one-dimensional Series and two-dimensional DataFrame objects.

In this section, we'll explore the direct creation of MultiIndex objects, considerations when indexing, slicing, and computing statistics across multiply indexed data, and useful routines for converting between simple and hierarchically indexed representations of your data.

We begin with the standard imports:

In [ ]:
import pandas as pd
import numpy as np

# A Multiply Indexed Series

Let's start by considering how we might represent two-dimensional data within a one-dimensional Series. For concreteness, we will consider a series of data where each point has a character and numerical key.

## The bad way

Suppose you would like to track data about states from two different years. Using the Pandas tools we've already covered, you might be tempted to simply use Python tuples as keys:

In [ ]:
index = [('Paris', 2013), ('Paris', 2018),
         ('Marseille', 2013), ('Marseille', 2018),
         ('Lyon', 2013), ('Lyon', 2018)]
populations = [2229621, 2175601,
               855393, 868277,
               500715, 518635]
cities_pop = pd.Series(populations, index=index)
cities_pop

With this indexing scheme, you can straightforwardly index or slice the series based on this multiple index:

In [ ]:
cities_pop[('Paris', 2018):('Lyon', 2013)]

But the convenience ends there. For example, if you need to select all values from 2018, you'll need to do some messy (and potentially slow) munging to make it happen:

In [ ]:
cities_pop[[i for i in cities_pop.index if i[1] == 2018]]

This produces the desired result, but is not as clean (or as efficient for large datasets) as the slicing syntax we've grown to love in Pandas.

## The Better Way: Pandas MultiIndex

Fortunately, Pandas provides a better way. Our tuple-based indexing is essentially a rudimentary multi-index, and the Pandas MultiIndex type gives us the type of operations we wish to have. We can create a multi-index from the tuples as follows:

In [ ]:
index = pd.MultiIndex.from_tuples(index)
index

In [ ]:
# Notice that the MultiIndex contains multiple levels of indexing–in 
#this case, the state names and the years, as well as multiple labels 
#for each data point which encode these levels.

If we re-index our series with this MultiIndex, we see the hierarchical representation of the data:

In [ ]:
cities_pop = cities_pop.reindex(index)
cities_pop

Here the first two columns of the Series representation show the multiple index values, while the third column shows the data. Notice that some entries are missing in the first column: in this multi-index representation, any blank entry indicates the same value as the line above it.

Now to access all data for which the second index is 2018, we can simply use the Pandas slicing notation:

In [ ]:
cities_pop[:, 2018]

The result is a singly indexed array with just the keys we're interested in. This syntax is much more convenient (and the operation is much more efficient!) than the home-spun tuple-based multi-indexing solution that we started with. We'll now further discuss this sort of indexing operation on hieararchically indexed data.

## MultiIndex as extra dimension

You might notice something else here: we could easily have stored the same data using a simple DataFrame with index and column labels. In fact, Pandas is built with this equivalence in mind. The unstack() method will quickly convert a multiply indexed Series into a conventionally indexed DataFrame:

In [ ]:
cities_pop_df = cities_pop.unstack()
cities_pop_df

Naturally, the stack() method provides the opposite operation:

In [ ]:
cities_pop_df.stack()

Seeing this, you might wonder why would we would bother with hierarchical indexing at all. The reason is simple: just as we were able to use multi-indexing to represent two-dimensional data within a one-dimensional Series, we can also use it to represent data of three or more dimensions in a Series or DataFrame. Each extra level in a multi-index represents an extra dimension of data; taking advantage of this property gives us much more flexibility in the types of data we can represent. Concretely, we might want to add another column of demographic data for each state at each year (say, students) ; with a MultiIndex this is as easy as adding another column to the DataFrame:

In [ ]:
cities_pop_df = pd.DataFrame({'total': cities_pop,
                       'students': [625000 , 654455,
                                   90000 , 92148,
                                   140000 , 155440]})
cities_pop_df

In addition, all the ufuncs and other functionality discussed in Operating on Data in Pandas work with hierarchical indices as well. Here we compute the fraction of students by year, given the above data:

In [ ]:
f_students = cities_pop_df['students'] / cities_pop_df['total']
f_students.unstack()

This allows us to easily and quickly manipulate and explore even high-dimensional data.
Methods of MultiIndex Creation

The most straightforward way to construct a multiply indexed Series or DataFrame is to simply pass a list of two or more index arrays to the constructor. For example:

In [ ]:
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
df

The work of creating the MultiIndex is done in the background.

Similarly, if you pass a dictionary with appropriate tuples as keys, Pandas will automatically recognize this and use a MultiIndex by default:

In [ ]:
data = {('Paris', 2013): 2229621, 
        ('Paris', 2018): 2175601,
        ('Marseille', 2013): 855393, 
        ('Marseille', 2018): 868277,
        ('Lyon', 2013): 500715, 
        ('Lyon', 2018): 518635}
pd.Series(data)

Nevertheless, it is sometimes useful to explicitly create a MultiIndex; we'll see a couple of these methods here.

##  Explicit MultiIndex constructors

For more flexibility in how the index is constructed, you can instead use the class method constructors available in the pd.MultiIndex. For example, as we did before, you can construct the MultiIndex from a simple list of arrays giving the index values within each level:

In [ ]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

You can construct it from a list of tuples giving the multiple index values of each point:

In [ ]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

You can even construct it from a Cartesian product of single indices:

In [ ]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

Similarly, you can construct the MultiIndex directly using its internal encoding by passing levels (a list of lists containing available index values for each level) and codes (a list of lists that reference these labels):

In [ ]:
pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
              codes=[[0, 0, 1, 1], [0, 1, 0, 1]])

Any of these objects can be passed as the index argument when creating a Series or Dataframe, or be passed to the reindex method of an existing Series or DataFrame.

## MultiIndex level names

Sometimes it is convenient to name the levels of the MultiIndex. This can be accomplished by passing the names argument to any of the above MultiIndex constructors, or by setting the names attribute of the index after the fact:

In [ ]:
cities_pop.index.names = ['city', 'year']
cities_pop

With more involved datasets, this can be a useful way to keep track of the meaning of various index values.

## MultiIndex for columns

In a DataFrame, the rows and columns are completely symmetric, and just as the rows can have multiple levels of indices, the columns can have multiple levels as well. Consider the following, which is a mock-up of some (somewhat realistic) medical data:

In [ ]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

Here we see where the multi-indexing for both rows and columns can come in very handy. This is fundamentally four-dimensional data, where the dimensions are the subject, the measurement type, the year, and the visit number. With this in place we can, for example, index the top-level column by the person's name and get a full DataFrame containing just that person's information:

In [ ]:
health_data['Guido']

For complicated records containing multiple labeled measurements across multiple times for many subjects (people, countries, cities, etc.) use of hierarchical rows and columns can be extremely convenient!

# Indexing and Slicing a MultiIndex

Indexing and slicing on a MultiIndex is designed to be intuitive, and it helps if you think about the indices as added dimensions. We'll first look at indexing multiply indexed Series, and then multiply-indexed DataFrames.

## Multiply indexed Series

Consider the multiply indexed Series of state populations we saw earlier:

In [ ]:
cities_pop

We can access single elements by indexing with multiple terms:

In [ ]:
cities_pop['Paris', 2013]

The MultiIndex also supports partial indexing, or indexing just one of the levels in the index. The result is another Series, with the lower-level indices maintained:

In [ ]:
cities_pop['Paris']

Partial slicing is available as well, as long as the MultiIndex is sorted (see discussion in Sorted and Unsorted Indices):

In [ ]:
cities_pop.loc['Paris':'Lyon']

With sorted indices, partial indexing can be performed on lower levels by passing an empty slice in the first index:

In [ ]:
cities_pop[:, 2013]

Other types of indexing and selection (discussed in Data Indexing and Selection) work as well; for example, selection based on Boolean masks:

In [ ]:
cities_pop[cities_pop > 22000000]

Selection based on fancy indexing also works:

In [ ]:
cities_pop[['Paris', 'Marseille']]

## Multiply indexed DataFrames

A multiply indexed DataFrame behaves in a similar manner. Consider our toy medical DataFrame from before:

In [ ]:
health_data

Remember that columns are primary in a DataFrame, and the syntax used for multiply indexed Series applies to the columns. For example, we can recover Guido's heart rate data with a simple operation:

In [ ]:
health_data['Guido', 'HR']

Also, as with the single-index case, we can use the loc, iloc, and ix indexers introduced in Data Indexing and Selection. For example:

In [ ]:
health_data.iloc[:2, :2]

These indexers provide an array-like view of the underlying two-dimensional data, but each individual index in loc or iloc can be passed a tuple of multiple indices. For example:

In [ ]:
health_data.loc[:, ('Bob', 'HR')]

Working with slices within these index tuples is not especially convenient; trying to create a slice within a tuple will lead to a syntax error:

In [ ]:
health_data.loc[(:, 1), (:, 'HR')]

You could get around this by building the desired slice explicitly using Python's built-in slice() function, but a better way in this context is to use an IndexSlice object, which Pandas provides for precisely this situation. For example:

In [ ]:
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]


There are so many ways to interact with data in multiply indexed Series and DataFrames, and as with many tools in this book the best way to become familiar with them is to try them out!
# Rearranging Multi-Indices

One of the keys to working with multiply indexed data is knowing how to effectively transform the data. There are a number of operations that will preserve all the information in the dataset, but rearrange it for the purposes of various computations. We saw a brief example of this in the stack() and unstack() methods, but there are many more ways to finely control the rearrangement of data between hierarchical indices and columns, and we'll explore them here.
## Sorted and unsorted indices

Earlier, we briefly mentioned a caveat, but we should emphasize it more here. Many of the MultiIndex slicing operations will fail if the index is not sorted. Let's take a look at this here.

We'll start by creating some simple multiply indexed data where the indices are not lexographically sorted:

In [ ]:
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
data

If we try to take a partial slice of this index, it will result in an error:

In [ ]:
try:
    data['a':'b']
except KeyError as e:
    print(type(e))
    print(e)

Although it is not entirely clear from the error message, this is the result of the MultiIndex not being sorted. For various reasons, partial slices and other similar operations require the levels in the MultiIndex to be in sorted (i.e., lexographical) order. Pandas provides a number of convenience routines to perform this type of sorting; examples are the sort_index() and sortlevel() methods of the DataFrame. We'll use the simplest, sort_index(), here:

In [ ]:
data = data.sort_index()
data

With the index sorted in this way, partial slicing will work as expected:

In [ ]:
data['a':'b']

## Stacking and unstacking indices

As we saw briefly before, it is possible to convert a dataset from a stacked multi-index to a simple two-dimensional representation, optionally specifying the level to use:

In [ ]:
cities_pop.unstack(level=0)

In [ ]:
cities_pop.unstack(level=1)

The opposite of unstack() is stack(), which here can be used to recover the original series:

In [ ]:
cities_pop.unstack().stack()

## Index setting and resetting

Another way to rearrange hierarchical data is to turn the index labels into columns; this can be accomplished with the reset_index method. Calling this on the population dictionary will result in a DataFrame with a state and year column holding the information that was formerly in the index. For clarity, we can optionally specify the name of the data for the column representation:

In [ ]:
cities_pop_flat = cities_pop.reset_index(name='population')
cities_pop_flat

Often when working with data in the real world, the raw input data looks like this and it's useful to build a MultiIndex from the column values. This can be done with the set_index method of the DataFrame, which returns a multiply indexed DataFrame:

In [ ]:
cities_pop_flat.set_index(['city', 'year'])

In practice, I find this type of reindexing to be one of the more useful patterns when encountering real-world datasets.

# Data Aggregations on Multi-Indices

We've previously seen that Pandas has built-in data aggregation methods, such as mean(), sum(), and max(). For hierarchically indexed data, these can be passed a level parameter that controls which subset of the data the aggregate is computed on.

For example, let's return to our health data:

In [ ]:
health_data

Perhaps we'd like to average-out the measurements in the two visits each year. We can do this by naming the index level we'd like to explore, in this case the year:

In [ ]:
data_mean = health_data.mean(level='year')
data_mean

By further making use of the axis keyword, we can take the mean among levels on the columns as well:

In [ ]:
data_mean.mean(axis=1, level='type')

Thus in two lines, we've been able to find the average heart rate and temperature measured among all subjects in all visits each year. This syntax is actually a short cut to the GroupBy functionality, which we will discuss in Aggregation and Grouping. While this is a toy example, many real-world datasets have similar hierarchical structure.

# Aside: Panel Data

Pandas has a few other fundamental data structures that we have not yet discussed, namely the pd.Panel and pd.Panel4D objects. These can be thought of, respectively, as three-dimensional and four-dimensional generalizations of the (one-dimensional) Series and (two-dimensional) DataFrame structures. Once you are familiar with indexing and manipulation of data in a Series and DataFrame, Panel and Panel4D are relatively straightforward to use. In particular, the ix, loc, and iloc indexers discussed in Data Indexing and Selection extend readily to these higher-dimensional structures.

We won't cover these panel structures further in this text, as I've found in the majority of cases that multi-indexing is a more useful and conceptually simpler representation for higher-dimensional data. Additionally, panel data is fundamentally a dense data representation, while multi-indexing is fundamentally a sparse data representation. As the number of dimensions increases, the dense representation can become very inefficient for the majority of real-world datasets. For the occasional specialized application, however, these structures can be useful. If you'd like to read more about the Panel and Panel4D structures, see the references listed in Further Resources.

# VI. Combining Datasets: Concat and Append

Some of the most interesting studies of data come from combining different data sources. These operations can involve anything from very straightforward concatenation of two different datasets, to more complicated database-style joins and merges that correctly handle any overlaps between the datasets. Series and DataFrames are built with this type of operation in mind, and Pandas includes functions and methods that make this sort of data wrangling fast and straightforward.

Here we'll take a look at simple concatenation of Series and DataFrames with the pd.concat function; later we'll dive into more sophisticated in-memory merges and joins implemented in Pandas.

We begin with the standard imports:

In [ ]:
import pandas as pd
import numpy as np

For convenience, we'll define this function which creates a DataFrame of a particular form that will be useful below:

In [ ]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

# example DataFrame
make_df('ABC', range(3))

In addition, we'll create a quick class that allows us to display multiple DataFrames side by side. The code makes use of the special _repr_html_ method, which IPython uses to implement its rich object display:

In [ ]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

The use of this will become clearer as we continue our discussion in the following section.
Recall:

 ## Concatenation of NumPy Arrays
    
Concatenation of Series and DataFrame objects is very similar to concatenation of Numpy arrays, which can be done via the np.concatenate function as discussed in The Basics of NumPy Arrays. Recall that with it, you can combine the contents of two or more arrays into a single array:

In [ ]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
np.concatenate([x, y, z])

The first argument is a list or tuple of arrays to concatenate. Additionally, it takes an axis keyword that allows you to specify the axis along which the result will be concatenated:

In [ ]:
x = [[1, 2],
     [3, 4]]
np.concatenate([x, x], axis=1)

# Simple Concatenation with pd.concat

Pandas has a function, pd.concat(), which has a similar syntax to np.concatenate but contains a number of options that we'll discuss momentarily:

# Signature in Pandas v0.18
pd.concat(
    objs,
    axis=0,
    join="outer",
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
)

pd.concat() can be used for a simple concatenation of Series or DataFrame objects, just as np.concatenate() can be used for simple concatenations of arrays:

In [ ]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

It also works to concatenate higher-dimensional objects, such as DataFrames:

In [ ]:
df1 = make_df('ABC', [0, 1, 2, 3, 4, 5, 6, 7, 8,])
df2 = make_df('ABC', [9, 10])
display('df1', 'df2', 'pd.concat([df1, df2])')

By default, the concatenation takes place row-wise within the DataFrame (i.e., axis=0). Like np.concatenate, pd.concat allows specification of an axis along which concatenation will take place. Consider the following example:

In [ ]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
display('df3', 'df4', "pd.concat([df3, df4], axis='columns')")

We could have equivalently specified axis=1; here we've used the more intuitive axis='columns'.
## Duplicate indices
One important difference between np.concatenate and pd.concat is that Pandas concatenation preserves indices, even if the result will have duplicate indices! Consider this simple example:

In [ ]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])
y.index = x.index  # make duplicate indices!
display('x', 'y', 'pd.concat([x, y])')

Notice the repeated indices in the result. While this is valid within DataFrames, the outcome is often undesirable. `pd.concat()` gives us a few ways to handle it.
Catching the repeats as an error

If you'd like to simply verify that the indices in the result of `pd.concat()` do not overlap, you can specify the verify_integrity flag. With this set to True, the concatenation will raise an exception if there are duplicate indices. Here is an example, where for clarity we'll catch and print the error message:

In [ ]:
try:
    pd.concat([x, y], verify_integrity=True)
except ValueError as e:
    print("ValueError:", e)

## Ignoring the index

Sometimes the index itself does not matter, and you would prefer it to simply be ignored. This option can be specified using the ignore_index flag. With this set to true, the concatenation will create a new integer index for the resulting Series:

In [ ]:
display('x', 'y', 'pd.concat([x, y], ignore_index=True)')

## Adding MultiIndex keys

Another option is to use the keys option to specify a label for the data sources; the result will be a hierarchically indexed series containing the data:

In [ ]:
display('x', 'y', "pd.concat([x, y], keys=['x', 'y'])")

The result is a multiply indexed DataFrame, and we can use the tools discussed in Hierarchical Indexing to transform this data into the representation we're interested in.
Concatenation with joins

In the simple examples we just looked at, we were mainly concatenating DataFrames with shared column names. In practice, data from different sources might have different sets of column names, and pd.concat offers several options in this case. Consider the concatenation of the following two DataFrames, which have some (but not all!) columns in common:

In [ ]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
display('df5', 'df6', 'pd.concat([df5, df6])')

By default, the entries for which no data is available are filled with NA values. To change this, we can specify one of several options for the join and join_axes parameters of the concatenate function. By default, the join is a union of the input columns (join='outer'), but we can change this to an intersection of the columns using join='inner':

In [ ]:
display('df5', 'df6',
        "pd.concat([df5, df6], join='inner')")

Another option is to directly specify the index of the remaininig colums using the join_axes argument, which takes a list of index objects. Here we'll specify that the returned columns should be the same as those of the first input:

In [ ]:
display('df5', 'df6',
        "pd.concat([df5, df6], join_axes=[df5.columns])")

The combination of options of the pd.concat function allows a wide range of possible behaviors when joining two datasets; keep these in mind as you use these tools for your own data.

# The `append()` method

Because direct array concatenation is so common, Series and DataFrame objects have an append method that can accomplish the same thing in fewer keystrokes. For example, rather than calling pd.concat([df1, df2]), you can simply call df1.append(df2):

In [ ]:
display('df1', 'df2', 'df1.append(df2)')

Keep in mind that unlike the append() and extend() methods of Python lists, the append() method in Pandas does not modify the original object–instead it creates a new object with the combined data. It also is not a very efficient method, because it involves creation of a new index and data buffer. Thus, if you plan to do multiple append operations, it is generally better to build a list of DataFrames and pass them all at once to the concat() function.

In the next section, we'll look at another more powerful approach to combining data from multiple sources, the database-style merges/joins implemented in pd.merge. For more information on concat(), append(), and related functionality, see the "Merge, Join, and Concatenate" section of the Pandas documentation.

# VII Combining Datasets: Merge and Join
ne essential feature offered by Pandas is its high-performance, in-memory join and merge operations. If you have ever worked with databases, you should be familiar with this type of data interaction. The main interface for this is the pd.merge function, and we'll see few examples of how this can work in practice.

For convenience, we will start by redefining the display() functionality from the previous section:

In [ ]:
import pandas as pd
import numpy as np

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)


# Categories of Joins¶

The pd.merge() function implements a number of types of joins: the one-to-one, many-to-one, and many-to-many joins. All three types of joins are accessed via an identical call to the pd.merge() interface; the type of join performed depends on the form of the input data. Here we will show simple examples of the three types of merges, and discuss detailed options further below.
# One-to-one joins

Perhaps the simplest type of merge expresion is the one-to-one join, which is in many ways very similar to the column-wise concatenation seen in Combining Datasets: Concat & Append. As a concrete example, consider the following two DataFrames which contain information on several employees in a company:

In [ ]:

df1 = pd.DataFrame({'employee': ['Bob', 'Tony', 'Thalita', 'Joe'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Tony', 'Bob', 'Thalita', 'Joe'],
                    'hire_date': [2010, 2020, 2021, 2014]})
display('df1', 'df2')

To combine this information into a single DataFrame, we can use the pd.merge() function:

In [ ]:
df3 = pd.merge(df1, df2)
df3

The pd.merge() function recognizes that each DataFrame has an "employee" column, and automatically joins using this column as a key. The result of the merge is a new DataFrame that combines the information from the two inputs. Notice that the order of entries in each column is not necessarily maintained: in this case, the order of the "employee" column differs between df1 and df2, and the pd.merge() function correctly accounts for this. Additionally, keep in mind that the merge in general discards the index, except in the special case of merges by index (see the left_index and right_index keywords, discussed momentarily).
# Many-to-one joins

Many-to-one joins are joins in which one of the two key columns contains duplicate entries. For the many-to-one case, the resulting DataFrame will preserve those duplicate entries as appropriate. Consider the following example of a many-to-one join:

In [ ]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Janet', 'James', 'Steve']})
display('df3', 'df4', 'pd.merge(df3, df4)')

The resulting DataFrame has an aditional column with the "supervisor" information, where the information is repeated in one or more locations as required by the inputs.
# Many-to-many joins

Many-to-many joins are a bit confusing conceptually, but are nevertheless well defined. If the key column in both the left and right array contains duplicates, then the result is a many-to-many merge. This will be perhaps most clear with a concrete example. Consider the following, where we have a DataFrame showing one or more skills associated with a particular group. By performing a many-to-many join, we can recover the skills associated with any individual person:

In [ ]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
display('df1', 'df5', "pd.merge(df1, df5)")



These three types of joins can be used with other Pandas tools to implement a wide array of functionality. But in practice, datasets are rarely as clean as the one we're working with here. In the following section we'll consider some of the options provided by pd.merge() that enable you to tune how the join operations work.
# Specification of the Merge Key

We've already seen the default behavior of pd.merge(): it looks for one or more matching column names between the two inputs, and uses this as the key. However, often the column names will not match so nicely, and pd.merge() provides a variety of options for handling this.
# The on keyword

Most simply, you can explicitly specify the name of the key column using the on keyword, which takes a column name or a list of column names:

In [ ]:
display('df1', 'df2', "pd.merge(df1, df2, on='employee')")

This option works only if both the left and right DataFrames have the specified column name.
# The left_on and right_on keywords

At times you may wish to merge two datasets with different column names; for example, we may have a dataset in which the employee name is labeled as "name" rather than "employee". In this case, we can use the left_on and right_on keywords to specify the two column names:

In [ ]:
df3 = pd.DataFrame({'name': ['Bob', 'Tony', 'Thalita', 'Joe'],
                    'salary': [70000, 80000, 120000, 90000]})
display('df1', 'df3', 'pd.merge(df1, df3, left_on="employee", right_on="name")')

The result has a redundant column that we can drop if desired–for example, by using the drop() method of DataFrames:

In [ ]:
pd.merge(df1, df3, left_on="employee", right_on="name").drop('name', axis=1)


# The left_index and right_index keywords

Sometimes, rather than merging on a column, you would instead like to merge on an index. For example, your data might look like this:

In [ ]:
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')
display('df1a', 'df2a')

You can use the index as the key for merging by specifying the left_index and/or right_index flags in pd.merge():

In [ ]:


display('df1a', 'df2a',
        "pd.merge(df1a, df2a, left_index=True, right_index=True)")

For convenience, DataFrames implement the join() method, which performs a merge that defaults to joining on indices:

In [ ]:
display('df1a', 'df2a', 'df1a.join(df2a)')



If you'd like to mix indices and columns, you can combine left_index with right_on or left_on with right_index to get the desired behavior:

In [ ]:
display('df1a', 'df3', "pd.merge(df1a, df3, left_index=True, right_on='name')")

All of these options also work with multiple indices and/or multiple columns; the interface for this behavior is very intuitive. For more information on this, see the "Merge, Join, and Concatenate" section of the Pandas documentation.


# Specifying Set Arithmetic for Joins

In all the preceding examples we have glossed over one important consideration in performing a join: the type of set arithmetic used in the join. This comes up when a value appears in one key column but not the other. Consider this example:

In [ ]:
df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']},
                   columns=['name', 'food'])
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
                    'drink': ['wine', 'beer']},
                   columns=['name', 'drink'])
display('df6', 'df7', 'pd.merge(df6, df7)')

Here we have merged two datasets that have only a single "name" entry in common: Mary. By default, the result contains the intersection of the two sets of inputs; this is what is known as an inner join. We can specify this explicitly using the how keyword, which defaults to "inner":

In [ ]:
pd.merge(df6, df7, how='inner')

Other options for the how keyword are 'outer', 'left', and 'right'. An outer join returns a join over the union of the input columns, and fills in all missing values with NAs:

In [ ]:
display('df6', 'df7', "pd.merge(df6, df7, how='outer')")

The left join and right join return joins over the left entries and right entries, respectively. For example:

In [ ]:
display('df6', 'df7', "pd.merge(df6, df7, how='left')")

The output rows now correspond to the entries in the left input. Using how='right' works in a similar manner.

All of these options can be applied straightforwardly to any of the preceding join types.
# Overlapping Column Names: The suffixes Keyword

Finally, you may end up in a case where your two input DataFrames have conflicting column names. Consider this example:

In [ ]:

df8 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [1, 2, 3, 4]})
df9 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [3, 1, 4, 2]})
display('df8', 'df9', 'pd.merge(df8, df9, on="name")')

Because the output would have two conflicting column names, the merge function automatically appends a suffix _x or _y to make the output columns unique. If these defaults are inappropriate, it is possible to specify a custom suffix using the suffixes keyword:

In [ ]:
display('df8', 'df9', 'pd.merge(df8, df9, on="name", suffixes=["_L", "_R"])')

These suffixes work in any of the possible join patterns, and work also if there are multiple overlapping columns.

For more information on these patterns, see Aggregation and Grouping where we dive a bit deeper into relational algebra. Also see the Pandas "Merge, Join and Concatenate" documentation for further discussion of these topics.
Example: US States Data

Merge and join operations come up most often when combining data from different sources. Here we will consider an example of some data about US states and their populations. The data files can be found at http://github.com/jakevdp/data-USstates/:

In [ ]:
# Following are shell commands to download the data
# !curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv
# !curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv
# !curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv

Let's take a look at the three datasets, using the Pandas read_csv() function:

In [ ]:
population = pd.read_csv('data-USstates/state-population.csv')
areas = pd.read_csv('data-USstates/state-areas.csv')
abbreviations = pd.read_csv('data-USstates/state-abbrevs.csv')

display('population.head()', 'areas.head()', 'abbreviations.head()')

Given this information, say we want to compute a relatively straightforward result: rank US states and territories by their 2010 population density. We clearly have the data here to find this result, but we'll have to combine the datasets to find the result.

We'll start with a many-to-one merge that will give us the full state name within the population DataFrame. We want to merge based on the state/region column of pop, and the abbreviation column of abbrevs. We'll use how='outer' to make sure no data is thrown away due to mismatched labels.

In [ ]:
merged = pd.merge(population, abbreviations, how='outer',
                  left_on='state/region', right_on='abbreviation')
merged = merged.drop('abbreviation', 1) # drop duplicate info
merged.head()

Let's double-check whether there were any mismatches here, which we can do by looking for rows with nulls:

In [ ]:
merged.isnull().any()

Some of the population info is null; let's figure out which these are!

In [ ]:
merged[merged['population'].isnull()].head()

It appears that all the null population values are from Puerto Rico prior to the year 2000; this is likely due to this data not being available from the original source.

More importantly, we see also that some of the new state entries are also null, which means that there was no corresponding entry in the abbrevs key! Let's figure out which regions lack this match:

In [ ]:
merged.loc[merged['state'].isnull(), 'state/region'].unique()

We can quickly infer the issue: our population data includes entries for Puerto Rico (PR) and the United States as a whole (USA), while these entries do not appear in the state abbreviation key. We can fix these quickly by filling in appropriate entries:

In [ ]:
merged.loc[merged['state/region'] == 'PR', 'state'] = 'Puerto Rico'
merged.loc[merged['state/region'] == 'USA', 'state'] = 'United States'
merged.isnull().any()

No more nulls in the state column: we're all set!

Now we can merge the result with the area data using a similar procedure. Examining our results, we will want to join on the state column in both:

In [ ]:
final = pd.merge(merged, areas, on='state', how='left')
final.head()

Again, let's check for nulls to see if there were any mismatches:

In [ ]:
final.isnull().any()

There are nulls in the area column; we can take a look to see which regions were ignored here:

In [ ]:
final['state'][final['area (sq. mi)'].isnull()].unique()

We see that our areas DataFrame does not contain the area of the United States as a whole. We could insert the appropriate value (using the sum of all state areas, for instance), but in this case we'll just drop the null values because the population density of the entire United States is not relevant to our current discussion:

In [ ]:
final.dropna(inplace=True)
final.head()

Now we have all the data we need. To answer the question of interest, let's first select the portion of the data corresponding with the year 2000, and the total population. We'll use the query() function to do this quickly (this requires the numexpr package to be installed; see High-Performance Pandas: eval() and query()):

In [ ]:
data2010 = final.query("year == 2010 & ages == 'total'")
data2010.head()

Now let's compute the population density and display it in order. We'll start by re-indexing our data on the state, and then compute the result:

In [ ]:
data2010.set_index('state', inplace=True)
density = data2010['population'] / data2010['area (sq. mi)']

density.sort_values(ascending=False, inplace=True)
density.head()

The result is a ranking of US states plus Washington, DC, and Puerto Rico in order of their 2010 population density, in residents per square mile. We can see that by far the densest region in this dataset is Washington, DC (i.e., the District of Columbia); among states, the densest is New Jersey.

We can also check the end of the list:

In [ ]:
density.tail()

We see that the least dense state, by far, is Alaska, averaging slightly over one resident per square mile.

This type of messy data merging is a common task when trying to answer questions using real-world data sources. I hope that this example has given you an idea of the ways you can combine tools we've covered in order to gain insight from your data!